/* import font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    /* background-image: url(/images/spiderweb.jpg); */
    background-size: cover;
    background-image: url(images/sand.jpg);
}

.headline {
    color: white;
    font-size: 48px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 36px;
    margin-bottom: 36px;
}

.main-container {
    width: auto;
    height: 400px;
    /* background-color: white; */
    position: relative;
    display: flex;
    flex-direction: row;
}

.container1 {
    display: inline-block;
    background-color: brown;
    width: 50%;
    height: 100%;
    margin: 0 15px;
    border-radius: 5px;
}

.container2 {
    display: inline-block;
    position: relative;
    background-color: blue;
    width: 50%;
    height: 100%;
    margin: 0 15px;
    border-radius: 5px;
}

.entry-field {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid white;
}

#input-field {
    background-color: transparent;
    height: 2em;
    font-size: 24px;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    margin-right: 15px;
    width: 400px;
    text-align: center;
}

#guess-submission {
    height: auto;
    width: auto;
    padding: 10px 20px;
    border-radius: 60px;
    background-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    z-index: 10px;
}

#guess-submission:hover {
    color: gray;
    border-color: gray;
    background-color: gray;
}

.guess-log {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 0;
    padding: 0;
}

.guess-item {
    margin: 0 3px;
}

.hint-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.hints {
    color: white;
    list-style-type: none;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-style: italic;
    margin: 0;
}

.hint-item {
    margin: .5em 0;
}

.wrapper-2 {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.instructions {
    width: 80%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup-border {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
    border: 1px solid white;
    width: 60%;
    border-radius: 10px;
}

.sub-headline {
    color: red;
    font-size: 36px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.p-instructions {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2em;
    font-size: 22px; 
}

.play-game {
    height: auto;
    width: auto;
    padding: 10px 20px;
    border-radius: 60px;
    background-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    z-index: 10px;
    text-align: center;
    margin: 20px 0;
}

.play-game:hover {
    background-color: gray;
    border-color: gray;
}